header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 35px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

